---
layout: default
---

<h1>Drylabs</h1>

<p>Welcome to Drylabs!</p>

<h2>What we do</h2>

<p>Drylabs develops open-source software and complex projects with open-source in their core. Our headline product is <a href="https://github.com/dry-python" target="_blank">dry-python</a> - a set of libraries for pluggable business logic components. We talk Python, Django, Flask, SQLAlchemy, Celery, RQ, Twisted, asyncio and more.</p>

<h2>Who</h2>

<div class="grid">
  <div class="cell -4of12">
    <div class="content">
      <div class="card person">
        <header class="card-header">Valentin Dombrovsky</header>
        <div class="card-content">
          <div class="inner">
            <div class="person-photo equalizer">
              <img class="img-responsive" src="/assets/images/valentin-dombrovsky.jpg">
            </div>

            <p class="person-title">CEO</p>

            <p>Founder at MoscowPython, Python community activist</p>
          </div>
        </div>

        <footer class="person-footer">
          <p class="person-links">
            <a href="https://www.linkedin.com/in/vdombrovsky/" target="_blank">
              <i class="icon-linkedin"></i>
            </a>
          </p>
        </footer>
      </div>
    </div>
  </div>

  <div class="cell -4of12">
    <div class="content">
      <div class="card person">
        <header class="card-header">Artem Malyshev</header>
        <div class="card-content">
          <div class="inner">
            <div class="person-photo equalizer">
              <img class="img-responsive" src="/assets/images/artem-malyshev.jpg">
            </div>

            <p class="person-title">CTO</p>

            <p>Creator of the <a href="https://github.com/dry-python" target="_blank">@dry-python</a> project. A former member of the <a href="https://github.com/django" target="_blank">@django</a> channels maintenance team.</p>
          </div>
        </div>

        <footer class="person-footer">
          <p class="person-links">
            <a href="https://www.linkedin.com/in/artem-malyshev-368aaaa3/" target="_blank">
              <i class="icon-linkedin"></i>
            </a>

            <a href="https://github.com/proofit404" target="_blank">
              <i class="icon-github"></i>
            </a>
          </p>
        </footer>
      </div>
    </div>
  </div>

  <div class="cell -4of12">
    <div class="content">
      <div class="card person">
        <header class="card-header">Nikita Sobolev</header>
        <div class="card-content">
          <div class="inner">
            <div class="person-photo equalizer">
              <img class="img-responsive" src="/assets/images/nikita-sobolev.jpg">
            </div>

            <p class="person-title">Expert</p>

            <p>CTO at <a href="https://wemake.services/" target="_blank">wemake.services</a>, dry-python collaborator. <a href="https://sobolevn.me/" target="_blank">Blogs</a> about Python
          </div>
        </div>

        <footer class="person-footer">
          <p class="person-links">
            <a href="https://github.com/sobolevn" target="_blank">
              <i class="icon-github"></i>
            </a>
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>

<br>

<h2>Projects</h2>

<a href="https://github.com/dry-python">dry-python</a> - set of libraries for pluggable business logic components. Using dry-python you can create a code which is easy to read and maintain. Try it for your applications and create an architecture which makes it easier to work with your colleagues and develop complex software apps.

dry-python consists of several components:
<ul>
  <li><a href="https://github.com/dry-python/dependencies" target="_blank">/dependencies</a> - Dependency Injection for Humans</li>
  <li><a href="https://github.com/dry-python/stories" target="_blank">/stories</a> - Define a user story in the business transaction DSL</li>
  <li><a href="https://github.com/dry-python/returns" target="_blank">/returns</a> - Make your functions return something meaningful, typed, and safe!</li>
  <li><a href="https://github.com/dry-python/mappers" target="_blank">/mappers</a> - Declarative mappers from ORM models to domain entities. And back again!</li>
  <li><a href="https://github.com/dry-python/patterns" target="_blank">/patterns</a> - Typed pattern matching for your lovely Python!</li>
  <li><a href="https://github.com/dry-python/linters" target="_blank">/linters</a> - Static analysis tool for dry-python libraries</li>
  <li><a href="https://github.com/dry-python/editors" target="_blank">/editors</a> - dry-python tooling for different text editors</li>
</ul>


<h2>Partners</h2>

<div class="grid">
  <div class="cell -6of12">
    <div class="content">
      <div class="card">
        <header class="card-header">MoscowPython</header>
        <div class="card-content">
          <div class="inner">
            <div class="logo equalizer">
              <img class="img-responsive" src="/assets/images/moscowpython-logo.jpg">
            </div>
            <p>Russia’s largest community of Python developers organizing <a href="http://www.moscowpython.ru/" target="_blank">meetups</a>, <a href="https://learn.python.ru/" target="_blank">Python learning course</a> and <a href="http://conf.python.ru" target="_blank">Moscow Python Conf</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cell -6of12">
    <div class="content">
      <div class="card">
        <header class="card-header">wemake.services</header>
        <div class="card-content">
          <div class="inner">
            <div class="logo equalizer">
              <img class="img-responsive" src="/assets/images/wemake-services-logo.png">
            </div>
            <p>A group of technology evangelists and simply those who love to write beautiful code. We <a href="https://wemake.services/meta/" target="_blank">sell</a> repeatable software development process.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<br>

<h2>Services</h2>

<ul>
<li>dry-python workshops - want to understand how you can use dry-python for your code? Invite us and we shall tell you.</li>
<li>Refactoring existing apps using dry-python - you tell us what to do, we turn your legacy code into easy maintainable application which is loved by developers</li>
<li>Custom dry-python development - you want us to develop a library specifically for you? Can do.</li>
<li>Premium Support - pay monthly to get access to private Slack channel and get your questions asked in 24 hours. You will also be able to ask questions via ticketing system.</li>
</ul>

<p>Anything else, you think, we can help you with? Let’s talk!</p>

<p>We can deliver services in English and in Russian.</p>


<h2>Jobs</h2>

<p>You think that we’re awesome and want to join us? Feel free to email at <a href="mailto:hello@drylabs.io">hello@drylabs.io</a> and we’ll have a chat maybe.</p>

<h2>Contact</h2>

<p>
You think, we’re a team that can solve your problems? Feel free to contact at <a href="mailto:hello@drylabs.io">hello@drylabs.io</a> (we speak English and Russian at the moment)!
</p>

<h2>Subscribe</h2>

<p>Join our mailing list to keep updated about dry-python and other developments from Drylabs.</p>

{% include ga.html %}
{% include mailchimp.html %}

<p class="social">
  <footer class="social-footer">
    <p class="social-links">
      <a href="https://www.linkedin.com/company/drylabs" target="_blank">
        <i class="icon-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/Drylabs" target="_blank">
        <i class="icon-facebook"></i>
      </a>
    </p>
  </footer>
</p>
